body{
    background-color: gray;
}

.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    zoom:1;
}


.main{
    width: 980px;
    height: 1386px;
    background-color: #fff;
    margin: 30px auto;
}

/*头部*/
.header{
    height: 61px;
    width: 892px;
    border-bottom: 2px solid #938e8c;
    margin: 0 auto 0;
    position: relative;
}

.header .url{
    background-color: #e66;
    display: inline-block;
    height: 61px;
    width: 110px;
    position: relative;
}

.header .url a{
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    position: absolute;
    bottom: 5px;
    text-indent: 10px;
}

.header .date{
    color: red;
    float: right;
    position: absolute;
    bottom: 5px;
    right: 0;
    font-weight: bold;
    font-size: 12px;
    color: #d45d5c;
}

/*正文*/
.center{
    margin: 50px auto;
    display: block;
    width: 892px;
}

.center .headerImg{
    width: 641px;
    height: 301px;
    background-color: orange;
    float: left;
    
}

.center .headerImg .left{
    float: left;
    height: 100%;
    width: 191px;
    background-color: green;
    opacity: 0.3;
}

.center .headerImg .right{
    float: right;
    height: 100%;
    width: 191px;
    background-color: red;
    opacity: 0.3;
}

.center .title{
    border-top: 2px solid #cc8901;
    width: 203px;
    height: 301px;
    float: right;
}

.center .title .lineTitle{
    font: normal 24px/40px "Microsoft Yahei";
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 5px;
}

.center .title .subTitle{
    font: normal 12px/10px "Kaiti";
    margin: 0;
}

.center .title .largeTitle{
    color: #75b86b;
    font: italic 116px/1 "Microsoft Yahei";
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 0;
}
.center .title .title1{
    color: #cc8091;
    font: normal 55px/1 "Microsoft Yahei";
    margin-top: 0;
    float: left;
    position: relative;
}

.center .title .titles{
    position: relative;
    float: left;
}

.center .title .title2{
    color: #cc8091;
    font: normal; 21px/1 "Microsoft Yahei";
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 10px;
    display: block;
}

.center .title .title3{
    color: #cc8091;
    font: normal 12px/1 "Microsoft Yahei";
    margin-top: 0;
    margin-left: 10px;
    display: block;
}

/*article*/
.article{
    float: left;
    display: inline-block;
    width: 220px;
    margin-top: 20px;
    margin-right: 20px;
}

.article a{
    font: bold 16px/1 "Microsoft Yahei";
    color: #418c59;
}

.article p{
    font: normal 12px/16px "SongTi";
}

.part3{
    width: 180px;
}
.part2 p{
    opacity: 0.7;
}
.part2 a{
    color: #d2994f;
}
.part3 a{
    color: #cc7680;
}

.part3 .index{
    font: italic 12px/16px "Microsoft Yahei";
    opacity: 0.7;
    margin: 0;
    padding: 0;
}
.part3 .index span{
    color: #cd4a48;
}
/*底部文章*/

.bottom{
    float: left;
    width: 892px;
    margin-top: 80px;
}

.bottom .left{
    width: 415px;
    height: 100%;
    float: left;
}

.bottom .left .top{
    width: 100%;
    border-bottom: 2px solid #000;
}

.bottom .left .top span{
    font: bold 72px "SimHei";
    font-style: italic;
    color: #f5e327;
    margin-right: 10px;
}

.bottom .left .top p{
    font: bold 32px/50px "SimHei";
    color: #11456b;
    margin-top: 0;
    margin-bottom: 10px;
}

.bottom .left .under{
    margin-top: 20px;
    position: relative;
}

.bottom .left .under span{
    font: normal 70px/1 "Microsoft Yahei";
    color: #f5e327;
    float: left;
    margin: 0;
    display: inline-block;
}
.bottom .left .under p{
    font: normal 12px/16px "SongTi";
    display: inline;
}

.bottom .left .under img{
    background-color: gold;
    width: 120px;
    height: 250px;
    float: right;
    clear: both;
    margin-left: 10px;
    margin-bottom: 10px;
}

.bottom .right{
    float: right;
    width: 458px;

}
.bottom .right .top{
    position: relative;
}
.bottom .right .top img{
    background-color: gold;
    width: 100%;
    height: 275px;
}
.bottom .right .top .box{
    background-color: #000;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    height: 61px;
    width: 100%;
}
.bottom .right .top .box h3{
    font: normal 26px "Microsoft Yahei";
    color: #fff;
    margin-left: 30px;
    padding-left: 10px;
    border-left: 3px solid #72b16a;
    line-height: 44px;
    margin-top: 8px;
    display: inline-block;
}

.bottom .right .top .box span{
    color: #72b16a;
    font: italic 12px "Microsoft Yahei";
    margin-left: 5px;
    padding:0;
    position: absolute;
    bottom: 17px;
}
.bottom .right .under {
    float: right;
    background-color: gray;
    width: 100%;
    margin-top: 30px;
    height: 318px;
    margin-bottom: 0;
    position: relative;
}

.bottom .right .under ul{
    margin: 40px 20px 20px 50px;
    padding: 0;
    list-style: square;

}
.bottom .right .under li{
    margin: 10px;
}
.bottom .right .under .box{
    background-color: red;
    width: 260px;
    height: 160px;
    /*float: left;*/
    
    position: absolute;
    bottom: 0;
}

.bottom .right .under .box2{
    /*background-color: green;*/
    margin: 0;
    margin-top: 14px;
    width: 155px;
    float: right;
    padding-right: 15px;
}
.bottom .right .under p{
    font: italic 14px/16px "SimHei";
    color: #5a5b5b;
    display: inline;
}
.bottom .right .under span{
    color: #d45d5c;
    font: normal 32px/22px "SimHei";
    display: inline-block;

}
/*尾部*/

.footer{
    border-top: 1px solid #938e8c;
    width: 892px;
    margin: 0 auto;
}
.footer span{
    float: right;
    font: normal 12px "SimHei";
    color: #d45d5c;
}
