body {
  font-size: 12px;
  background-color: #fff;
}

.center {
  width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.nav_bar {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  height: 57px;
}
.nav_bar .logo_con {
  width: 200px;
  height: 57px;
}
.nav_bar img {
  width: 32px;
  height: 32px;
  margin: 5px 10px 0 60px;
  float: left;
  padding-top: 5px;
}
.nav_bar h1 {
  display: inline-block;
  line-height: 57px;
  font-size: 21px;
  float: left;
}
.nav_bar .right {
  font-size: 14px;
  line-height: 52px;
}
.nav_bar .right .login_btn {
  background: url(images/icon_user.png) 0 18px no-repeat;
  text-indent: 23px;
  color: #e74f4d;
  margin-right: 57px;
}
.nav_bar .right li {
  float: left;
  width: 100px;
  text-align: center;
}
.nav_bar .right li a {
  color: #787b83;
  width: 100px;
}
.nav_bar .right li a:hover {
  color: #e74f4d;
  border-bottom: 5px solid #e74f4d;
}

.section1 {
  height: 690px;
  background: url("images/section1.jpg") no-repeat;
  color: #fff;
  width: 1280px;
  margin: 0 auto;
}
.section1 .box {
  margin-left: 126px;
}
.section1 .box h2 {
  margin-left: -11px;
  margin-top: 230px;
  font-size: 60px;
}
.section1 .box p {
  font-size: 21px;
  margin-top: 28px;
}
.section1 .box a {
  margin-top: 66px;
  font-size: 30px;
  color: #fff;
  background: #e74f4d;
  width: 331px;
  height: 65px;
  text-align: center;
  display: inline-block;
  line-height: 65px;
}

.section2 {
  height: 250px;
  background-color: #fff;
  color: #767777;
}
.section2 .box {
  width: 318.5px;
  height: 100%;
  float: left;
  text-align: center;
}
.section2 .separate {
  float: left;
  margin-top: 132px;
  width: 2px;
  height: 52px;
  background-color: #989899;
}
.section2 .img {
  background: url(images/icons.png) no-repeat;
  height: 42px;
  width: 42px;
  margin: 43px 0 45px 144px;
}
.section2 .icon2 {
  background: url(images/icons.png) 0 -100px no-repeat;
}
.section2 .icon3 {
  background: url(images/icons.png) 0 -200px no-repeat;
}
.section2 .icon4 {
  background: url(images/icons.png) 0 -300px no-repeat;
}

.section3 {
  height: 360px;
  background-color: #edecec;
}
.section3 img {
  width: 95px;
  height: 95px;
  display: block;
  margin: 88px auto 0;
}
.section3 p {
  text-align: center;
  color: #323333;
  font-size: 54px;
  margin-top: 40px;
}

.line {
  background-color: #fff;
  height: 3px;
  width: 31px;
}

.section4 {
  height: 340px;
  width: 1280px;
  margin: 0 auto;
  background: url(images/section4.jpg) no-repeat;
  color: #fff;
  font-family: "MicrosoftYaHei";
}
.section4 .title1 {
  font-size: 21px;
  margin-top: 53px;
  text-align: center;
}
.section4 .line {
  margin: 10px auto 19px;
  text-align: center;
}
.section4 .title2 {
  font-size: 12px;
  text-align: center;
}
.section4 .box {
  height: 36px;
  width: 1030px;
  margin: 50px auto;
}
.section4 .box .menu {
  width: 235.5px;
  background-color: #fff;
  float: left;
  display: inline-block;
  height: 100%;
  margin-right: 29px;
}
.section4 .box .menu span {
  font: normal 12px/36px "MicrosoftYaHei";
  color: #a8aaaa;
  text-align: left;
  margin-left: 13px;
  display: inline-block;
}
.section4 .box .menu a {
  float: right;
}
.section4 .box .menu2 {
  position: relative;
}
.section4 .box .menu2 select {
  background-color: #e4e3e5;
  list-style-type: none;
  border-style: none;
  width: 236px;
  height: 26px;
  border: 1px solid red;
  position: absolute;
  top: 36px;
  left: 0;
}
.section4 .box .menu2 select .option :nth-child(1) {
  background-color: #bc504b;
  height: 26px;
}
.section4 .box .search {
  margin-right: 0;
  background-color: #bd504a;
  text-align: center;
  color: #fff;
  line-height: 36px;
  text-decoration: none;
}

.section5 {
  height: 605px;
  background-color: #fff;
}
.section5 .content {
  height: 390px;
  width: 987px;
  margin: 100px auto 0;
}
.section5 .content div {
  width: 220px;
  height: 100%;
  display: inline-block;
  float: left;
  margin-right: 35.5px;
}
.section5 .content div img {
  height: 318px;
  width: 200px;
  border: 2px solid #d1d1d1;
  padding: 8px;
  background-color: #fff;
}
.section5 .content div h3 {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.section5 .content div p {
  padding-top: 5px;
  text-align: center;
  font-size: 14px;
}
.section5 .content .pic4 {
  margin-right: 0;
  margin-top: 5px;
}
.section5 .content .pic2 h3 {
  font-size: 22px;
  text-align: justify-all;
  width: 220px;
}
.section5 .content .pic2 p {
  margin-top: -2px;
}

.section6 {
  height: 565px;
  background-color: #fff;
}
.section6 .left {
  width: 850px;
  height: 100%;
  background-color: green;
  float: left;
  background: url(images/section6.jpg) no-repeat;
  text-align: center;
  color: #fff;
}
.section6 .left .t1 {
  font-size: 50px;
  margin-top: 132px;
}
.section6 .left .t2 {
  font-size: 178px;
  line-height: 150px;
}
.section6 .left .t3 {
  font-size: 22px;
  margin-top: 10px;
}
.section6 .right {
  text-align: center;
  width: 290px;
  height: 280px;
  margin: 165px 70px 0;
  float: right;
}
.section6 .right h3 {
  font-size: 24px;
}
.section6 .right h3 span {
  color: #e74f4d;
}
.section6 .right p {
  font-size: 12px;
  color: #aaaaaa;
  margin: 28px auto 0;
  line-height: 2em;
  width: 288px;
}
.section6 .right a {
  width: 107px;
  height: 35px;
  border: 1px solid #e74f4d;
  color: #e74f4d;
  display: inline-block;
  margin: 50px auto 0;
  font-size: 16px;
  line-height: 35px;
}

.section7 {
  height: 522px;
  text-align: center;
}
.section7 .left, .section7 .midum {
  width: 425px;
  height: 100%;
  float: left;
}
.section7 .left p, .section7 .midum p {
  margin-top: 175px;
  font-size: 21px;
}
.section7 .left .line, .section7 .midum .line {
  margin: 27px auto 23px;
  display: inline-block;
}
.section7 .left a, .section7 .midum a {
  width: 170px;
  height: 44px;
  border: 2px solid #e74f4d;
  color: #e74f4d;
  display: block;
  margin: 0 auto;
  font-size: 21px;
  line-height: 44px;
}
.section7 .left {
  color: #fff;
  background-color: #e65150;
}
.section7 .left a {
  color: #fff;
  border-color: #fff;
}
.section7 .midum {
  color: #323333;
  background-color: #fff;
}
.section7 .midum .line {
  background-color: #aaa;
}
.section7 .right {
  width: 430px;
  float: right;
  height: 100%;
  background: url(images/section7.jpg) no-repeat;
}

.section8 {
  height: 750px;
  background-color: #fff;
}
.section8 h3 {
  margin: 110px auto 0;
  font-size: 21px;
  color: #323333;
  line-height: 36px;
  text-align: center;
}
.section8 .line {
  background-color: #e74f4d;
  height: 3px;
  width: 31px;
  margin: 0 auto 10px;
}
.section8 .title {
  font-size: 12px;
  color: #aaaaaa;
  text-align: center;
}
.section8 .input {
  margin: 100px auto 0;
  width: 1004px;
  height: 282px;
}
.section8 .input .left {
  float: left;
  width: 290px;
  height: 100%;
  color: #231815;
}
.section8 .input .left .sentence1, .section8 .input .left .sentence2, .section8 .input .left .sentence3 {
  margin-bottom: 32px;
}
.section8 .input .left .sentence1 h4, .section8 .input .left .sentence2 h4, .section8 .input .left .sentence3 h4 {
  font-size: 14px;
  font-weight: bold;
}
.section8 .input .left .sentence1 p, .section8 .input .left .sentence2 p, .section8 .input .left .sentence3 p {
  font-size: 12px;
  margin-top: 25px;
}
.section8 .input .left .sentence1 a, .section8 .input .left .sentence2 a, .section8 .input .left .sentence3 a {
  display: block;
  margin: 5px 0 0 240px;
  font-size: 12px;
  text-indent: 20px;
  background: url(images/arrow_down.png) 1px 5px no-repeat;
}
.section8 .input .left .sentence2 {
  margin-bottom: 17px;
}
.section8 .input .left .sentence3 {
  margin-bottom: 0px;
}
.section8 .input .right {
  width: 640px;
  height: 100%;
  float: right;
}
.section8 .input .right input {
  width: 310px;
  height: 40px;
  background-color: #ededed;
  text-indent: 15px;
  margin-bottom: 12px;
  margin-right: 20px;
  border: none;
}
.section8 .input .right textarea {
  background-color: #ededed;
  border: none;
  width: 100%;
  height: 120px;
  text-indent: 18px;
  margin-bottom: 11px;
}
.section8 .input .right .ri {
  margin-right: 0px;
}
.section8 .input .right .submit {
  width: 640px;
  font-size: 14px;
  color: #323333;
  cursor: pointer;
}

.section9 {
  height: 357px;
  background-color: #32363e;
  text-align: center;
}
.section9 h4 {
  margin-top: 90px;
  font-size: 21px;
  color: #fff;
}
.section9 p {
  color: #fff;
  margin-top: 5px;
  font-size: 12px;
}
.section9 .input {
  width: 510px;
  height: 40px;
  margin: 25px auto 0;
}
.section9 .input input {
  width: 430px;
  height: 100%;
  line-height: 14px;
  text-indent: 10px;
  background-color: #fff;
  float: left;
  border: none;
}
.section9 .input a {
  float: right;
  width: 80px;
  height: 100%;
  background-color: #6f7278;
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
}
.section9 .logo_link_bar {
  width: 200px;
  height: 30px;
  margin: 35px auto 0;
}
.section9 .logo_link_bar .logo_link {
  float: left;
  width: 50px;
  height: 100%;
  background: url(images/icons.png) 13px -398px no-repeat;
}
.section9 .logo_link_bar :nth-child(2) {
  background: url(images/icons.png) 13px -498px no-repeat;
}
.section9 .logo_link_bar :nth-child(3) {
  background: url(images/icons.png) 13px -598px no-repeat;
}
.section9 .logo_link_bar :nth-child(4) {
  background: url(images/icons.png) 13px -698px no-repeat;
}

.footer {
  height: 58px;
  background-color: #2f3038;
}
.footer .center {
  position: relative;
}
.footer span {
  position: absolute;
  left: 98px;
  top: 30px;
  font-size: 12px;
  color: #fff;
}
.footer a {
  position: absolute;
  right: 40px;
  top: 35px;
  font-size: 12px;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
